* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.intro {
  display: grid;
  height: 100vh;
  place-items: center;
  font-size: 25px;
  color: gray;
  font-weight: 700;
  margin-left: 300px;
  text-transform: capitalize;
}
.navigation {
  min-height: 100vh;
  width: 270px;
  background-color: rgb(4, 105, 105);
  padding: 10px 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.navigation > .links {
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  font-size: 25px;
  color: white;
  width: 100%;
  margin-bottom: 30px;
  transition: all 0.4s linear;
}

.navigation > .links:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 650px) {
  .navigation {
    min-height: 100vh;
    width: 70px;
    transition: 0.5s linear;
    overflow: hidden;
  }

  .navigation > .links {
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    color: white;
    width: 100%;
    margin-bottom: 30px;
    transition: all 0.4s linear;
  }
}
